{% extends 'base.html' %}
{% load static %}

{% block content %}

                 <div class="container theme-showcase" role="main">
             <div class="page-header">
                 <h1>Lista de Militares</h1>
             </div>
             <form class="form-horizontal" method="POST" action="">
                 <div class="form-group">
                     <label class="col-sm-2 control-label">Nome</label>
                     <div class="col-sm-8">
                         <input type="text" name="nome" class="form-control" id="inputEmail3" placeholder="Pesquisar por..." value="">
                     </div>
                     <div class="col-sm-2">
                         <button type="submit" class="btn btn-info">Pesquisar</button>
                     </div>
                 </div>
             </form>	<hr>
             <form method="POST" action="gerar_planilha_especifica.php">
                 <div class="row espaco">
                     <div class="pull-right">					
                         <a href="form_contato.php"><button type='button' class='btn btn-sm btn-success'>Cadastrar</button></a>
                         
                         
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-12">
                         <table class="table">
                             <thead>
                                 <tr>
                                     
                                     <th class="text-center">ID</th>
                                     <th class="text-center">Nome</th>
                                     <th class="text-center">CPF</th>
                                     <th class="text-center">Aditamento</th>
                                     <th class="text-center">Diárias</th>
                                     <th class="text-center">Observação</th>
                                     <th class="text-center">Ação</th>
                                 </tr>
                             </thead>
                             <tbody>
                                {% for military in militaries %}
                                <tr>
                                    <td class="text-center">42</td>
                                    <td class="text-center">{{ military.name }}</td>
                                    <td class="text-center">{{ military.cpf }}</td>
                                    <td class="text-center">Adt. 23 BI 45 de 23/11/2017</td>
                                    <td class="text-center"></td>
                                    <td class="text-center">Fiscalização Total no município de Manga - MG.</td>
                                    <td class="text-center">								
                                        <a href="#">
                                            <span class="glyphicon glyphicon-eye-open text-primary" aria-hidden="true"></span>
                                        </a>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-pencil text-warning" aria-hidden="true"></span>
                                        </a>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                         </table>
                     </div>
                 </div>
             </form>
                             <nav class="text-center">
                     <ul class="pagination">
                         <li>
                             <span aria-hidden="true">&laquo;</span>						</li>
                                                             <li><a href="administrativo.php?link=50&pagina=1">
                                         1									</a></li>
                                                         <li>
                             <span aria-hidden="true">&raquo;</span>						</li>
                     </ul>
                 </nav>
                     </div>
{% endblock %}